.section1 {
  position: relative;
  width: 100%;
  height: 120vh;
  background-image: radial-gradient(
    circle at top right,
    rgb(125, 155, 223) 0%,
    rgb(125, 155, 223) 14.286%,
    rgb(114, 141, 216) 14.286%,
    rgb(114, 141, 216) 28.572%,
    rgb(102, 127, 209) 28.572%,
    rgb(102, 127, 209) 42.858%,
    rgb(91, 114, 203) 42.858%,
    rgb(91, 114, 203) 57.144%,
    rgb(79, 100, 196) 57.144%,
    rgb(79, 100, 196) 71.43%,
    rgb(68, 86, 189) 71.43%,
    rgb(68, 86, 189) 85.716%,
    rgb(56, 72, 182) 85.716%,
    rgb(56, 72, 182) 100.002%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section1 > img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.section1 > .section1-cont {
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 5vh;
}

.section1 > .section1-cont > .left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5vh;
}

.section1 > .section1-cont > .left > h1 {
  letter-spacing: 0.1vmax;
  font-size: 3.5vmax;
  font-weight: 600;
  line-height: 4.5vmax;
  backdrop-filter: blur(10px);
}

.section1 > .section1-cont > .left > h2 {
  font-weight: 600;
  font-size: 1.65vmax;
  backdrop-filter: blur(10px);
}

.section1 > .section1-cont > .left > p {
  font-size: 1.2vmax;
  backdrop-filter: blur(10px);
}

.section1 > .section1-cont > .left > .button {
  backdrop-filter: blur(10px);
  text-decoration: none;
  display: inline-flex;
  border: 2px solid #fff;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: #f5f5f3;
  color: #3848b6;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 1.25vmax;
  letter-spacing: 0.05vmax;
  padding: 2vh 2.5vw;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  font-family: "Poppins", sans-serif;
}

.section1 > .section1-cont > .left > .button > .button__icon-wrapper {
  flex-shrink: 0;
  width: 2vmax;
  height: 2vmax;
  position: relative;
  color: #3848b6;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
  border: 2px solid #3848b6;
}

.section1 > .section1-cont > .left > .button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
}

.section1 > .section1-cont > .left > .button:hover .button__icon-wrapper {
  color: #3848b6;
  border: 2px solid #fff;
}

.section1
  > .section1-cont
  > .left
  > .button
  > .button__icon-wrapper
  .button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.section1
  > .section1-cont
  > .left
  > .button:hover
  .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.section1 > .section1-cont > .left > .button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

.section1 > .section1-cont > .right {
  width: 40%;
  height: 100%;
}

.section1 > .section1-cont > .right > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* For screens max-width 600px (Small desktops/tablets) */
@media screen and (max-width: 600px) {
  .section1 > .section1-cont {
    flex-direction: column-reverse;
    height: 80%;
  }

  .section1 > .section1-cont > .left {
    width: 100%;
    gap: 2vh;
    height: 50%;
  }

  .section1 > .section1-cont > .left > h1 {
    font-size: 3vmax;
    line-height: normal;
  }

  .section1 > .section1-cont > .left > h2 {
    font-size: 2vmax;
  }

  .section1 > .section1-cont > .left > p {
    font-size: 1.5vmax;
  }

  .section1 > .section1-cont > .left > .button {
    font-size: 1.5vmax;
    padding: 2vh 5vw;
  }

  .section1 > .section1-cont > .right {
    width: 100%;
    height: 40%;
    padding: 3vmax;
  }

  .section1 > .section1-cont > .right > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* For screens max-width 400px (Mobile) */
@media screen and (max-width: 400px) {
  .section1 > .section1-cont {
    flex-direction: column-reverse;
    height: 80%;
  }

  .section1 > .section1-cont > .left {
    width: 100%;
    gap: 2vh;
    height: 50%;
  }

  .section1 > .section1-cont > .left > h1 {
    font-size: 3vmax;
    line-height: normal;
  }

  .section1 > .section1-cont > .left > h2 {
    font-size: 2vmax;
  }

  .section1 > .section1-cont > .left > p {
    font-size: 1.5vmax;
  }

  .section1 > .section1-cont > .left > .button {
    font-size: 1.5vmax;
    padding: 2vh 5vw;
  }

  .section1 > .section1-cont > .right {
    width: 100%;
    height: 40%;
    padding: 3vmax;
  }

  .section1 > .section1-cont > .right > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
